body {
    font-family: tahoma;
    width: 70%;
}
a {
    text-decoration: none;
    color: DodgerBlue;
}
th {
    background-color: #115C97;
    color: white;
    white-space: nowrap;
}
td {
    border: 1px dashed blue;
}
tr:hover {
    background-color: #115C97;
    color: white;
}
.nav_bar-wrapper {
 background-color: #115C97;
    color: DodgerBlue;
    height: 100px;

}
.logo_block {
    display: inline-block;
    padding-left: 70px;
    font-size: 20px;
    float: left;

}
.nav_bar {
    display: inline-block;
    font-size: 18px;
    padding-right: 70px;
    float: right;
}
.nav_bar-item {
    padding-right: 7px;
}
.lista_block-wrapper {
    background-color: #ACCEE8;
    height: 400px;
    padding: 30px 30px 30px 30px;
}
.table-main {
    width: 100%;
    border: 1px solid blue;
}
.footer {
    background-color: #115C97;
    height: 200px;
}
.footer-blocks {
    width: 24%;
    display: inline-block;
    font-size: 15px;
    height: 200px;
    overflow-x: hidden;
}
.footer-title {
    font-size: 17px;
}
.footer-image {
    height: 197px;
}
